<h1 style="text-align: center; color: brown; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Task Management System......</h1>
<div align="center">
<h1 style="font-family: 'Times New Roman', Times, serif; margin-top: 5px;">Login page</h1>
<b>Username: <input type="text" [(ngModel)]="username" placeholder="Enter username"> <br><br>
Password: <input type="password" [(ngModel)]="password" placeholder="Enter Password"><br><br></b>
<button (click)="login()">Login</button>
<br><br>
</div>


<p>Demo Login Details:-  <br>
Username:- ajay <br>
Password:- 123
</p>
<p>Demo Login Details:-  <br>
    Username:- hefshine <br>
    Password:- 123
</p>
